
<div class="container">
    <form class="input-form" [formGroup]="task">
        <input type="text" placeholder="add your tasks" formControlName="addtask">
        <button class="add-btn" type="submit" [disabled]="task.invalid" (click)="addTasks()">Add Todo</button>
    </form>
    <!-- <div class="filter-bar">
        <label for="filter">Filter Todo</label>
        <select name="Filter" id="filter">
            <option value="All">All</option>
            <option value="Active">Active</option>
            <option value="Completed">Completed</option>
        </select>
    </div> -->
</div>